---
title: Escala
layout: default
---

{% include proximaEscala.html %}

<main class="max-w-7xl mx-auto p-6 pb-20 space-y-8">
    <div>
        <h3 class="text-lg font-bold text-slate-800 mb-4 px-1">
            Todas as Escalas
        </h3>

        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {% assign dias = site.data.escalas | map: 'dia' | uniq %}
            {% for item in dias %}
            {% assign cor = site.data.escalas | where: "dia", item | map: 'cor' | first  %}
            <div class="bg-white rounded-2xl shadow-sm border border-slate-200 overflow-hidden hover:shadow-md transition-shadow duration-300 flex flex-col">
                <div class="{{cor}} px-5 py-4 border-b border-slate-100 flex items-center gap-3">
                    <h2 class="text-lg font-bold text-slate-800 text-white">{{item}}</h2>
                </div>
                <div class="divide-y divide-slate-100 flex-1">
                    {% assign escalas_dia = site.data.escalas | where: "dia", item %}
                    {% for escala in escalas_dia %}
                    <a href="{{ escala.id | datapage_url: '' }}" class="block px-5 py-4 hover:bg-indigo-50 active:bg-slate-100 transition flex justify-between items-center group">
                        <div class="flex items-center gap-3">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                            </svg>
                            <span class="text-slate-600 font-medium text-sm group-hover:text-indigo-700 transition">Escala {{escala.escala}}</span>
                            {% if escala_hoje and escala.id == escala_hoje.id %}
                              <span class="p-1 text-[11px] text-white font-bold border rounded-md tracking-wide bg-green-500 text-green-700 border-green-100">
                                hoje
                              </span>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</main>
