---
title: Escala
layout: default
---

<div class="grid grid-cols-4 gap-4 my-4">
    {% for item in site.data.lista %}
    <div class="mt-5 ">
        <div class="{{item.color}} p-5 rounded-t-lg ">
            <h5 class="text-xl font-bold text-white text-center">{{item.titulo}}</h5>
        </div>
        <div class="p-4 border border-gray-200 rounded-b-lg shadow-sm">
            <ul role="list" class="divide-y divide-gray-200 ">
                {% for escala in item.escalas %}
                <li class="flex text-sm font-medium text-gray-900 truncate hover:bg-gray-200">
                    <i class="fa-regular fa-calendar-days mt-4 ml-2"></i>
                    <a href="{{ escala.id | datapage_url: 'escala' }}" class="block w-full h-full px-2 py-3">{{escala.titulo}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

