<!doctype html>
<html lang="pt-br">
   <head>
    {% include SEO.html %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{"assets/fontawesome/css/fontawesome.css" | relative_url }}" />
    <link rel="stylesheet" href="{{"/assets/fontawesome/css/regular.css" | relative_url }}">
    <!-- <link rel="stylesheet" href="{{"assets/fontawesome/css/brands.css" | relative_url }}" /> -->
    <!-- <link rel="stylesheet" href="{{"assets/fontawesome/css/solid.css" | relative_url }}" /> -->
  </head>
  <body class="bg-slate-50 text-slate-800 tap-highlight-transparent">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
  </body>
</html>
