---
layout: default
---

{% assign totalPorta = page.dias | where_exp: "item", "item.porta" | size %}
{% assign totalFicha = page.dias | where_exp: "item", "item.ficha" | size %}
{% assign totalVelas = page.dias | where_exp: "item", "item.velas" | size %}

{% if totalPorta > 0 or totalFicha > 0 or totalVelas > 0 %}
<dialog id="modal_escala" class="m-auto fixed inset-0 z-50 rounded-lg shadow-xl overflow-hidden w-[95%] sm:w-full sm:max-w-lg bg-white p-0 backdrop:bg-gray-500/75 backdrop:backdrop-blur-sm open:animate-fade-in focus:outline-none">
  
  <div class="flex flex-col max-h-[90vh]">
    
    <div class="bg-white px-4 py-3 border-b border-gray-100 flex justify-between items-center sm:px-6">
      <h3 class="text-lg font-semibold leading-6 text-gray-900">Escala de Funções</h3>
      <button onclick="document.getElementById('modal_escala').close()" class="text-gray-400 hover:text-gray-500 focus:outline-none">
        <span class="sr-only">Fechar</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="p-4 sm:p-6 overflow-y-auto">
      
      <div class="overflow-x-auto -mx-4 sm:mx-0">
        <div class="inline-block min-w-full align-middle px-4 sm:px-0">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th class="{{page.cor}} text-white border border-gray-200 p-2 text-center text-xs sm:text-sm font-semibold">Dia</th>
                <th class="{{page.cor}} text-white border border-gray-200 p-2 text-center text-xs sm:text-sm font-semibold">Porta</th>
                <th class="{{page.cor}} text-white border border-gray-200 p-2 text-center text-xs sm:text-sm font-semibold">Ficha</th>
                <th class="{{page.cor}} text-white border border-gray-200 p-2 text-center text-xs sm:text-sm font-semibold">Circulos e Velas</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {% for dia in page.dias limit: 8 %}
              {% assign numero_mes = dia.data | date: "%-m" | minus: 1 %}
              {% assign nome_mes = site.data.meses.nomes[numero_mes] %}
              
                <tr class="hover:bg-gray-50">
                  <td class="border border-gray-200 p-2 bg-white">
                    <div class="flex flex-col items-center justify-center min-w-[50px]">
                      <span class="text-lg sm:text-xl font-bold text-slate-800 leading-none">{{dia.data | date: "%d"}}</span>
                      <span class="text-[10px] sm:text-xs font-medium text-slate-500 mt-1 uppercase">{{nome_mes}}</span>
                    </div>
                  </td>
                  <td class="px-3 py-2 border border-gray-200 text-center text-sm text-gray-700 whitespace-nowrap">{{dia.porta}}</td>
                  <td class="px-3 py-2 border border-gray-200 text-center text-sm text-gray-700 whitespace-nowrap">{{dia.ficha}}</td>
                  <td class="px-3 py-2 border border-gray-200 text-center text-sm text-gray-700 whitespace-nowrap">{{dia.velas}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 shrink-0 border-t border-gray-100">
      <button type="button" onclick="document.getElementById('modal_escala').close()" class="inline-flex w-full justify-center rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-500 sm:ml-3 sm:w-auto cursor-pointer transition">
        Fechar
      </button>
    </div>

  </div>
</dialog>

<script>
  const modal = document.getElementById('modal_escala');

  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.close();
    }
  });
</script>
{% endif %}

<main class="max-w-md mx-auto pb-10">

  <section class="pt-6 pb-2 px-4">
    <div class="{{page.cor}} rounded-2xl p-6 text-white shadow-lg shadow-indigo-200">
      <h2 class="text-2xl font-bold mb-1">Escala {{page.escala}} - {{page.dia}}</h2>
    </div>
  </section>


  <section class="pt-6 pb-2 px-4">
    <h3 class="text-xs font-bold text-slate-400 uppercase tracking-wider mb-3 flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
      </svg>
      Próximas datas
      {% if totalPorta > 0 or totalFicha > 0 or totalVelas > 0 %}
        <button onclick="document.getElementById('modal_escala').showModal()" class="{{page.cor}} rounded-md px-2.5 py-1.5 text-sm font-semibold text-white cursor-pointer ">Funções</button>
      {% endif %}
    </h3>

    <div class="flex gap-3 overflow-x-auto pb-2" >
      {% for dia in page.dias limit: 8 %}
        {% assign numero_mes = dia.data | date: "%-m" | minus: 1 %}
        {% assign nome_mes = site.data.meses.nomes[numero_mes] %}
        {% assign dias_da_semana = "Dom|Seg|Ter|Qua|Qui|Sex|Sáb" | split: "|" %}
        {% assign dia_numero = dia.data | date: "%w" | plus: 0 %}

        {% assign hoje = 'now' | date: '%Y-%m-%d' %}
        {% assign dia_formatado = dia.data | date: '%Y-%m-%d' %}
        {% if dia_formatado == hoje %}
          <div class="min-w-[80px] bg-green-400 border border-green-200 rounded-xl p-3 flex flex-col items-center justify-center shadow-sm snap-start">
            <span class="text-[10px] uppercase font-bold text-white mb-1">{{dias_da_semana[dia_numero]}}</span>
            <span class="text-xl font-bold text-white leading-none">{{dia.data | date: "%d"}}</span>
            <span class="text-xs font-medium text-white mt-1">{{nome_mes}}</span>
          </div>
        {% else %}
          <div class="min-w-[80px] bg-white border border-slate-200 rounded-xl p-3 flex flex-col items-center justify-center shadow-sm snap-start">
            <span class="text-[10px] uppercase font-bold text-slate-400 mb-1">{{dias_da_semana[dia_numero]}}</span>
            <span class="text-xl font-bold text-slate-800 leading-none">{{dia.data | date: "%d"}}</span>
            <span class="text-xs font-medium text-slate-500 mt-1">{{nome_mes}}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <hr class="border-slate-200 mx-4 mb-4">

  <section class="px-4" >
    {% for item in page.dados %}
      {% if item.pessoas.size > 0 %}
        <div class="mb-6 bg-white rounded-xl border border-slate-200 shadow-sm overflow-hidden">
          <div class="bg-slate-50 px-4 py-3 border-b border-slate-100">
            <h3 class="text-xl font-bold text-slate-700 flex items-center gap-2 sticky top-0">
              <span class="w-2 h-2 rounded-full bg-indigo-500"></span>
              {{item.titulo}}
            </h3>
          </div>
          <ul class="divide-y divide-slate-50">
            {% for pessoa in item.pessoas %}
              <li class="flex justify-between items-center p-2 hover:bg-slate-50 transition-colors">
                <div class="flex items-center gap-3">
                  <span class="text-sm font-medium text-slate-700">{{pessoa.nome}}</span>
                </div>
                <span class="p-1 text-[11px] font-bold border rounded-md tracking-wide bg-blue-50 text-blue-700 border-blue-100">
                  {{pessoa.descricao}}
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </section>
</main>
